body{
    margin: 0;
    padding: 0;
    
}
.fontAwesome{ font-family: 'Helvetica', FontAwesome, sans-serif; }

.flexCol{
    height: 100vh;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: center;
    border: solid green 1px;
}
.rowFlex{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.searchbox{
/* height: 100vh; */
    align-self: center;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
align-content: space-around;
margin-bottom: 5vh;
}
.search{
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #333;
    width: 50vw;
    height: 7vh;
    border: none;
    border-bottom: solid 1.5px #aa2211;
}
.search:focus{
    outline: none;
    transition:all .2s ease;

    border-bottom: solid 3px #aa2211;

    /* **** icons **** */
}
  .iconRow{

    margin-bottom: 10vh;
    }
  .iconBox{
      width: 60vw;
    /* border: solid green 1px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


  }
  .icon{
        opacity: 0.6;
      width: 8.5vh;
      height: 5.5vh;
      border-radius: 50%;
      margin-left: 0vw;
      margin-right: 0vw;
      padding-left: 1vw;
      padding-right: 1vw;

      transition: all .2s ease;
  }
  .youtube{
      opacity: 1;
      
  }

  .icon:hover{
      /* box-shadow:0 0 2px black; */
    transform: scale(1.2);
    size: 40px 40-x;
    width: 10vh;

      opacity: 1;
  }

  /* **** clock **** */
.clock{
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    font-weight: lighter;
    font-size: 13vh;
}
.clockRow{
    margin-bottom: 10;
    margin-top: -13vh;
}

/* **** Dark mode **** */
.toggle{
    margin-bottom: -20vh;
    margin-top: 20vh;
    outline: none;

}
.toggleBtn{
    position: absolute;

    width: 18px;
    height: 18px;
    outline: none;
    border-radius: 7px;
}
.toggleMoon{
    display: visible;
}
.toggleSun{
    display: none;
}

/* **** For mobile view **** */
@media (max-aspect-ratio: 2/3) {
    .icon{
        width: 5vh;
        height: 3vh;
    }
    .clock{
        font-size: 9vh;
    }
    .search{
        width: 70vw;
    }
    .iconBox{
        width: 70vw;
    }
}